<div class="login-form">
    <h1 class="new-title">Login</h1>
    <form class="login" method="post">
        <div class="form-group">
            <input class="login-input" type="text" placeholder="Username" name="username"
                required />
            <input class="login-input" type="password" placeholder="Password" name="password"
                required />
            <input class="login-input-submit" type="submit" class="login_btn" name="login_btn" />
        </div>
    </form>
</div>