<div class="register-form">
    <h1 class="title">Register</h1>
    <form class="register" method="post">
        <div class="form-group">
            <input class="register-input" type="text" placeholder="Username" name="username"
                required />
            <input class="register-input" type="password" placeholder="Password" name="password"
                required />
            <input class="register-input-submit" type="submit" class="register_btn" name="register_btn" />
        </div>
    </form>
</div>