* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-input {
    margin-top: 2rem;
    background-color: #414144 !important;
    border: 1px solid #414144 !important;
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
}

.register-input-submit {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    height: 50px;
    width: 200px;
    color:#fff;
    font-size: 1.3rem;
    border-radius: 3px;
    background-color: #4a4a94 !important;
    border: 1px solid #4a4a94 !important;
    font-family: 'Roboto';
}
.title {
    font-size: 2.5rem;
    font-family: 'Roboto';
    color: #fff;
}

.register-form {
    width: 100%;
    height: 100vh;
    background-color: #25252b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.register {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 500px) {
    .register {
        width: 60%;
    }

    .register-input-submit {
        height: 40px;
        width: 150px;
    }
}